@import url("./header.css");
@import url("./indexOeuvres.css");
@import url("./profil.css");
@import url("./home.css");

:root {
    --orange: rgba(206, 58, 45, 0.874);
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 0;
}