<div class="header">
    <a class="brand" href="/">
        <img src="{{ asset('images/logo.png') }}" class="logo" alt="logo">
        <span> Tous Ecrivain </span>
    </a>
    <a class="bouton" href="/api/oeuvres"> Oeuvres </a>
        <a class="bouton" href="/api/register"> 
            <img src="{{ asset('images/user2.png') }}" class="user" alt="inscription"> 
        </a>
        <a class="bouton" href="/api/login" > 
            <img src="{{ asset('images/user.png') }}" alt="connexion"> 
        </a>
</div>