<div class="header">
    <a class="bouton" href="/">
        <img src="" alt="">
        <span> Marque </span>
    </a>
    <a class="bouton" href="/api/oeuvres"> Oeuvres </a>
    <a class="bouton" href="/api/register"> S'inscrire </a>
    <a class="bouton" href="/api/login" > Se connecter </a>
</div>