<div class="header">
    <a class="brand" href="/">
        <img src="{{ asset('images/logo.png') }}" class="logo" alt="">
        <span> Tous Ecrivain </span>
    </a>
    <a class="bouton" href="/api/oeuvres"> Oeuvres </a>
    <a class="bouton" href="/api/profil"> Mon Profil </a>
    <a class="bouton" href="/api/logout"> Se deconnecter </a>
</div>