{% extends "base.html.twig" %}

{% block content %}

<h1 class="text-center my-3 display-5"> Modifier cette oeuvre </h1>

<div class="container mt-5">
    {{ form_start(form) }}
    <div class="">
        <label for=""> Titre </label>
        {{ form_widget(form.TitreOeuvre, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="">
        <label for=""> L'oeuvre </label>
        {{ form_widget(form.Contenu, {'attr': {'class':'form-control'}} ) }}
    </div>
        <div>
            <input type="submit" class="btn btn-success">
        </div>


    {{ form_end(form) }}
</div>

{% endblock %}